.buttonBase {
  width: 16rem;
  height: 3.3rem;
  margin-top: 4.6rem;
  margin-bottom: 1.9rem;

  background: #39961d;
  border-radius: 1rem;

  border: none;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;

  cursor: pointer;
}

.buttonBase:hover {
  background: #2e7a1b;
  transform: scale(1.05);
}

.btnBills {
  width: 16rem;
  height: 3.3rem;
  margin-top: 4.6rem;
  margin-bottom: 1.9rem;

  background: #285bb9;
  border-radius: 1rem;

  border: none;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.btnBills:hover {
  background: #1e4a9c;
  transform: scale(1.05);
}

.btnBills:active {
  background: #1e4a9c;
  transform: scale(1.05);
}

.newsButton {
  width: 16rem;
  height: 3.3rem;
  margin-top: 4.6rem;
  margin-bottom: 1.9rem;

  background: #d40909;
  border-radius: 1rem;

  border: none;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ac0000;
}

.newsButton a {
  color: #fffcfc;
  text-decoration: none;
}

.newsButton:hover {
  background: #2e7a1b;
  transform: scale(1.05);
}

.deleteBtn {
  width: 16rem;
  height: 3.3rem;
  margin-top: 4.6rem;
  margin-bottom: 1.9rem;

  background: #d40909;
  border-radius: 1rem;

  border: none;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #ac0000;
}

.btnSend {
  width: 10rem;
  height: 2rem;
  margin-top: 1rem;
  background: #3624d4;
  border-radius: 1rem;

  border: none;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #fff;
}

.btnSend:hover {
  background: #261b8a;
  transform: scale(1.05);
}