.containerHomeHero {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  padding: 1rem;
  margin: 1rem;
}

.containerHomeHero h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #020202;
  text-align: center;
}

.containerHomeHero p {
  font-size: 1.5rem;
  font-weight: 400;
  color: #020202;
  text-align: center;
}

.containerHomeHeroCard {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.containerHomeHeroCard a {
  text-decoration: none;
}

.containerHomeHeroCard a:hover {
  text-decoration: underline;
}
